@media only screen and (min-width: 750px){
    body {
        background-color: red;
    }

    h1 {
        color: darkblue;
        text-align: center;
    }

    h2 {
        color: darkblue;
        text-align: center;
    }
}

@media only screen and (max-width: 750px){
    body {
        background-color: blue;
    }

    h1 {
        text-align: right;
        color: darkkhaki;
    }

    h2 {
        text-align: right;
        color: darkkhaki;
    }
}