<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8">
        <title>Django</title>
    </head>
    <body>
        <h1>I finally got it working!</h1>

        <p>Basic python coding is very simple and has a lot of 
            online help and resources available. This makes python 
            even easier to code in as the language has been around 
            for quite some time and hasn't seemed to change too awful 
            much or the changes havn't been to crazy.
        </p>
        <P>
            Using python with Django on the other hand, has been quite 
            the different challenge. I have started a new "Django App"
            probably a dozen times this week to try to get all the steps 
            down packed and try to make the flow of creating a new Django 
            App more seemless. Also, a lot of online resources that I was 
            using for Django seemd to be outdated or not working anymore if 
            it was written or recorded 2 or more years ago. Eventually, all 
            the cards aligned and I now believe that I can get a new Django
            App inside its own virtual environment up and running in a few 
            minutes. It has definitely been a different week, but I do feel
            accomplished now.
        </P>
        <h2>Thank you for reading</h2>
        <h3>Zach Farmer</h3>
    </body>
</html>