@media only screen and (max-width: 700px){
    body {
        background-color: lightsalmon;
    }
}

@media only screen and (min-width: 700px) {
    body {
        background-color: limegreen;
    }

    .list {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .button {
        display: flex;
        justify-content: center;
    }
}