* {
    margin: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    
}

.box-1 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: cornflowerblue;
    transition-property: background-color;
    transition-duration: 2s;
}

.box-1:hover {
    background-color: firebrick;
    height: 200px;
    width: 200px;
}

.box-2 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: cornflowerblue;
    transition: background-color 1s linear 1s, height 1s linear;
}

.box-2:hover {
    background-color: palegreen;
    border: 5px solid brown;
}

.box-3 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: cornflowerblue;
    transition: background-color 1s linear 1s, height 1s linear;
}

.box-3:hover {
    background-color: red;
    height: 200px;
}

.box-4 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: cornflowerblue;
    transition-timing-function: ease-in-out;
}

.box-4:hover {
    background-color: yellowgreen;
    box-shadow: 5px 10px;
}

.box-5 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: cornflowerblue;
}

.box-5:hover {
    background-color: silver;
    border-radius: 15px;
}

.box-6 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: cornflowerblue;
    transition: background-color 1s linear 1s, width 1s linear;
}

.box-6:hover {
    background-color: lime;
    width: 150px;
}